<%- include('partials/header-in') -%>

<section class="container mx-auto my-3 p-0">
  <div class="displayCard rounded d-flex row justify-content-between mx-auto p-1">
    
    <!-- Start user information container -->
    <div class="d-flex flex-column align-items-center col-lg-3 mx-auto mb-2 py-3">
      <p class="my-1 fw-semibold fs-2"><%=profile.firstName%> <%=profile.lastName%></p>
      <% if (user.id == profile.id) { %>
        <% if (user.image) { %>
          <a href="/profile/<%=user.id%>/editProfile" class="" aria-label="Edit profile picture.">
            <img src="<%=profile.image%>" alt="Profile picture" class="img-fluid my-2" id="profileImg" loading="lazy">
          </a>
        <% } else { %>
          <a href="/profile/<%=user.id%>/editProfile" class="btn btn-primary mx-auto mt-2 px-5 py-2 fw-bolder fs-5 rounded-pill" aria-label="Add a profile picture.">Add a photo</a>
        <% } %>
        <a href="/profile/<%=user.id%>/addRecipe" class="btn btn-primary mx-auto my-2 px-4 py-2 fw-bolder fs-5 rounded-pill" aria-label="Add a recipe.">Add recipe</a>
      <% } else { %>
        <img src="<%=profile.image%>" alt="Profile Picture" class="img-fluid my-2" id="profileImg">
      <% } %>
    </div>
    <!-- End user information container -->
  
    <!-- Start user recipes container -->
    <div class="col-lg-9 p-0 p-lg-3">
      <ul class="d-flex flex-wrap justify-content-around list-unstyled">
        <% for (let i = 0; i < recipes.length; i++ ) { %>
          <li class="d-flex col-9 col-md-5 col-xxl-3 mx-auto my-1">

            <!-- Start recipe display card -->
            <div class="card mb-3 p-1">
              <img src="<%=recipes[i].image%>" alt="Image of <%=recipes[i].name%>." class="img-fluid mx-auto rounded">
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fs-5"><%=recipes[i].name%></h3>
                <div class="d-flex flex-column">
                  <a href="/feed/<%=recipes[i]._id%>" class="btn btn-primary mt-2 pt-2 fw-medium fs-6" aria-label="View <%=recipes[i].name%> recipe.">View Recipe</a>

                  <!-- Display edit/delete buttons to author of recipes -->
                  <% if (recipes[i].user == user.id) { %>
                  <div class="d-flex justify-content-between">
                    <a href="/profile/<%=user.id%>/editRecipe/<%= recipes[i]._id %>" class="d-flex col-6 pe-1 fs-6" aria-label="Edit <%=recipes[i].name%> recipe.">
                      <button class="btn btn-primary flex-grow-1 mt-2 fw-medium fs-5" aria-label="Edit <%=recipes[i].name%> recipe."><span class="fa fa-pencil"></span></button>
                    </a>
                    <form action="/profile/<%=user.id%>/deleteRecipe/<%= recipes[i]._id %>?_method=DELETE" method="POST" class="d-flex col-6 ps-1">
                      <button class="btn btn-primary flex-grow-1 mt-2 fw-medium fs-5" aria-label="Delete <%=recipes[i].name%> recipe."><span class="fa fa-trash"></span></button>
                    </form>
                  </div>
                  <% } %>

                </div>
              </div>
            </div>
            <!-- End recipe display card -->

          </li>
        <% } %>
      </ul>
    </div>
    <!-- End user recipes container -->

  </div>
</section>

<%- include('partials/footer') -%>