<%- include('partials/header-in') -%>

<section class="container mx-auto my-3 p-0">
  <div class="displayCard d-flex flex-column flex-md-row justify-content-between mx-auto p-1">

    <!-- Start recipe description container -->
    <div class="col-md-6 p-3">
      <img src="<%=recipe.image%>" alt="Image of <%=recipe.name%>" class="recipe-img-lg img-fluid col-12 mb-3 rounded">
      <div class="d-flex align-items-start mb-3">
        <div class="">
          <h1><%=recipe.name%></h1>
        </div>

        <!-- Display bookmarks to users who are not the recipe's author -->
        <% if (recipe.user != user.id) { %>
          <!-- Recipe is bookmarked: display "-" button -->
          <!-- Recipe not bookmarked: display "+" button -->
          <% if (user.favorites.some(obj => obj.recipeId == recipe._id)) { %>
            <form action="/favorites/<%=recipe._id%>/removeBookmark?_method=PUT" enctype="multipart/form-data" method="POST" class="ms-auto">
              <button type="submit" class="btn btn-primary fw-bolder rounded" aria-label="Add recipe to favorites button."><span class="fa-regular fa-square-minus pt-1 fw-medium fs-4"></span></button>
            </form>
          <% } else { %>
            <form action="/favorites/<%=recipe._id%>/addBookmark?_method=PUT" enctype="multipart/form-data" method="POST" class="ms-auto">
              <button type="submit" class="btn btn-primary fw-bolder rounded" aria-label="Remove recipe from favorites button."><span class="fa-regular fa-square-plus pt-1 fw-medium fs-4"></span></button>
            </form>
          <% } %>
        <% } %>

      </div>
      <div class="d-flex flex-column fs-5">
        <h3 class="fw-normal fs-5"><%=recipe.desc%></h3>
        <p class="mt-4 mb-0">Created by: </p>
        <a href="/profile/<%=recipe.user%>" class="authorName m-0 fw-medium" aria-label="Navigate to recipe author's profile page."><%=recipe.author%></a>
      </div>
    </div>
    <!-- End recipe description container -->

    <!-- Start ingredients and directions container -->
    <div class="col-md-6 p-3">
      <p class="my-4 fw-semibold fs-4">Ingredients: </p>
      <ul class="fs-5">
        <% for(let i = 0; i < recipe.ingredients.length; i++) {%>
          <% if (recipe.ingredients[i] === "") continue; %>
        <li class="ms-2 fw-medium"><%=recipe.ingredients[i]%></li>
        <% } %>
      </ul>

      <hr>

      <p class="my-4 fw-semibold fs-4">Directions: </p>
      <ol class="fw-medium fs-5">
        <% for(let i = 0; i < recipe.directions.length; i++) {%>
        <li class=""><%=recipe.directions[i]%></li>
        <% } %>
      </ol>
    </div>
    <!-- End ingredients and directions container -->
    
  </div>
</section>

<%- include('partials/footer') -%>